* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('../images/background.jpg');
    background-size: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 255, 255);
    margin: 10px;
    padding: 0;
}

header {
    background-color: rgba(0, 2, 104, 0.3);
    border: 4px solid #fff;
    max-width: 28rem;
    width: 28rem;
    margin-bottom: 30px;
    position: relative;
    top: 80px;
}

h1 {
    font-size: 2.7rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    position: relative;
    top: 80px;
    max-width: 28rem;
    width: 28rem;
    max-height: 40rem;
    height: 30rem;
    background-color: rgba(0, 2, 104, 0.3);
    border: 4px solid #fff;
}

h2 {
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
    align-self: center;
    padding-top: 0;
    margin: 10px 0 0 0;
}

.game-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.number-1,
.number-100 {
    display: flex;
    font-size: 4rem;
    font-weight: bold;
    color: rgb(0, 255, 255);
    padding: 5px;
    margin: 30px 10px 10px 10px;

}

.number-1 {
    position: relative;
    left: 1rem;
}

.number-100 {
    position: relative;
    right: 1rem;
}


h4 {
    font-size: 4rem;
    font-weight: bold;
    padding: 0;
    margin: 30px 5px 0 5px;
}

.left {
    padding: 5px;
}

.right {
    padding: 5px;
}


.guess-box {
    background-color: rgb(190, 190, 190);
    font-size: 3rem;
    max-width: 5rem;
    display: flex;
    justify-self: center;
    align-self: center;
    margin: 20px 5px 0 5px;
}



.guess-btn,
.reset-btn {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color:rgba(0, 2, 104,);
    background-color: rgb(190, 190, 190);
    border: 4px solid rgb(0, 255, 255);
    margin: 20px 20px 0 20px;
    padding: 5px;
}


.guesses-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}


.nog {
    font-size: 2.5rem;
    color: #fff;
}

.nogs {
    font-size: 5rem;
    color: #fff;

}


/* ------------------------ Media Queries ------------------------ */

@media screen and (max-width: 470px) {
    header {
        background-color: rgba(0, 2, 104, 0.3);
        border: 4px solid #fff;
        max-width: 24rem;
        width: 28rem;
        margin-bottom: 30px;
        position: relative;
        top: 100px;
    }
    
    .game-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: center;
        justify-self: center;
        position: relative;
        top: 100px;
        max-width: 24rem;
        width: 28rem;
        max-height: 40rem;
        height: 30rem;
        background-color: rgba(0, 2, 104, 0.3);
        border: 4px solid #fff;
    }

}

@media screen and (max-width: 410px) {
    header {
        background-color: rgba(0, 2, 104, 0.3);
        border: 4px solid #fff;
        max-width: 20rem;
        width: 28rem;
        margin-bottom: 30px;
        position: relative;
        top: 100px;
    }
    
    .game-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: center;
        justify-self: center;
        position: relative;
        top: 100px;
        max-width: 20rem;
        width: 28rem;
        max-height: 40rem;
        height: 30rem;
        background-color: rgba(0, 2, 104, 0.3);
        border: 4px solid #fff;
    }

    .nog {
        font-size: 2rem;
    }
    
    .nogs {
        font-size: 3rem;
    }
}

@media screen and (max-width: 370px) {
    header {
        background-color: rgba(0, 2, 104, 0.3);
        border: 4px solid #fff;
        max-width: 18rem;
        width: 28rem;
        margin-bottom: 30px;
        position: relative;
        top: 100px;
    }

    h1 {
        font-size: 2rem;
        margin: 0;
    }
    
    .game-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: center;
        justify-self: center;
        position: relative;
        top: 100px;
        max-width: 18rem;
        width: 28rem;
        max-height: 40rem;
        height: 30rem;
        background-color: rgba(0, 2, 104, 0.3);
        border: 4px solid #fff;
    }

    h2 {
        font-size: 2.5rem;
        text-align: center;
        margin-top: 0;
        padding-top: 0;
    }

    .game-box {
        max-width: 18rem;
        align-items: center;
    }

    .number-1,
    .number-100 {
        font-size: 3rem;
        margin: 5px;
    }

    .left,
    .right {
        align-self: center;
        margin: 0 5px;
    }

    .guess-box {
        font-size: 2rem;
        margin: 5px;
        width: 3.5rem;
    }

    h4 {
        font-size: 3rem;
        margin-bottom: 0;
    }

    
}